<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Role</th>
        <th>Endereço</th>
       
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.email %></td>   
          <td><%= usuario.role %></td>
          <td><%= usuario.endereco %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>